
/*PK_LableStyle col-sm-4*/
.PK_LableStyle {
    color: blue;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*LableStyle col-sm-4*/
.LableStyle {
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Lable 註記顏色(異動時間、人員)*/
.MarkColor {
    color: blue;
}

/*EditorStyle k-input k-textbox*/
.EditorStyle {
    margin-bottom: 5px;
}

/*TextBoxStyle k-input k-textbox*/
.TextBoxStyle {
    margin-bottom: 5px;
}

/*k-input*/
.DropDownList {
    margin-bottom: 5px;
    /*font-size: large;*/
}

/*TextAreaStyle k-textbox*/
.TextAreaStyle {
    margin-bottom: 5px;
    width: 100%;
}

/*Bootstrap DatePicker*/
/*form-control DateTimeTxt*/
.DateTimeTxt {
    font-size: large;
}

